:root {
  font-size: clamp(8px, 1.5vh, 24px);
  font-family: 'Inter', 'Avenir', 'Helvetica', 'Calibri', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-colour);
  --text-colour:#6a404a;
  --accent-text-colour:#9F6070;
  --background-colour:#F2F2F2;
  --panel-bg-colour:#FFFFFF;
  --primary-colour:#FF005D;
  --secondary-colour:#C40148;
  --trinary-colour:#80002E;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  background-color: var(--background-colour);
  /* overflow: hidden; */
}

* {
  font-family: unset;
  box-sizing: border-box;
}

input {
  outline: 0;
  border: 1px solid transparent;
  color: var(--accent-text-colour);
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: 0 0 3px var(--accent-text-colour);
  }

  &:focus {
    border: 1px solid var(--accent-text-colour);
  }
}

aside {
  position: relative;
  width: clamp(40ex, 20vw, 400px);
  background: var(--panel-bg-colour);
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  --border-radius: 2rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 3px 0px 25px -25px black;
  z-index: 1;

  figure {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > * {
      width: 100%;
      border-color: rgba(0, 0, 0, 0.1);
    }

    > a {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 75%;
      }
    }

    ul {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: start;
        flex-direction: row-reverse;
        text-decoration: none;
        font-weight: bold;
        border-radius: 1rem;
        color: var(--primary-colour);
      }

      li {
        &.active a {
          background-image: linear-gradient(var(--primary-colour), var(--trinary-colour));
          color: #FFF;
        }

        a:hover img {
          margin-right: 1.5rem;
        }
      }

      img {
        height: 3.2ex;
        margin-right: 1rem;
        transition: 0.25s;
      }

      li {
        &.active img:nth-child(1), &:not(.active) img:nth-child(2) {
          display: none;
        }
      }
    }
  }

  footer {
    font-size: 0.75rem;
    text-align: center;
  }
}

main {
  display: inherit;
  flex: 1;
  overflow: auto;
  --scrollbar-width: 8px;
  --scrollbar-thumb-colour: var(--primary-colour), var(--trinary-colour);
  --scrollbar-track-colour: var(--panel-bg-colour);

  nav {
    width: 100%;
    display: flex;
    flex: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    input[type="search"] {
      padding: 0.75rem;
      padding-left: calc(0.75rem + 2ex + 1ch);
      background: url(https://img.icons8.com/ios/96/search--v1.png) 0.75rem 0.75rem no-repeat scroll;
      background-color: revert;
      background-size: 2ex;
      border-radius: 999px;
    }

    #account {
      height: 4.8rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      background: var(--panel-bg-colour);
      gap: 1rem;

      > img {
        height: calc(100% - 2 * (0.125rem + 0.125rem));
      }

      span {
        height: 67%;
        border: 1px solid #CCC;
      }

      div {
        &:first-of-type {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          border: 0.125rem solid var(--primary-colour);
          padding: 0.125rem;
        }

        &:last-of-type {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
        }

        img {
          aspect-ratio: 1 / 1;
          height: inherit;
          border-radius: inherit;
        }

        > h4 {
          margin: 0;
          white-space: nowrap;
        }

        > h6 {
          margin: 0;
          margin-top: -0.25rem;
          color: var(--primary-colour);
          white-space: nowrap;
        }
      }
    }
  }

  header {
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
    }
  }

  > section {
    display: inherit;
    align-items: flex-start;
    flex-direction: row;
    margin: 0 auto;
    --main-padding:3.2rem;
    padding: var(--main-padding);
    padding-right: 0;
    width: clamp(96ex, 100%, 1600px);

    &::after {
      content: "";
      width: var(--main-padding);
      height: 100%;
      flex: none;
    }

    > #wrapper {
      width: fit-content;
      margin: 0 auto;
    }
  }

  @supports (scrollbar-color: auto) {
    & {
      scrollbar-color: linear-gradient(var(--scrollbar-thumb-colour)) var(--scrollbar-track-colour);
      scrollbar-width: var(--scrollbar-width);
    }
  }
  
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      height: var(--scrollbar-width);
      width: var(--scrollbar-width);
      background-color: var(--scrollbar-track-colour);
    }
      
    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(var(--scrollbar-thumb-colour));
      border-radius: 999px;
      background-clip: padding-box;
      border: calc(var(--scrollbar-width) / 4) solid transparent;
    }
      
    &::-webkit-scrollbar-thumb:horizontal {
      background-image: linear-gradient(90deg, var(--scrollbar-thumb-colour));
    }

    &::-webkit-scrollbar-corner {
      background-color: var(--scrollbar-track-colour);
    }
  }
}

:has(> #loadingOverlay) {
  position: relative;
  
  > figure {
    position: absolute;
    height: 100dvh;
    width: 100%;
    background: var(--background-colour);
    margin: 0;
    z-index: 1;
  
    > div {
      position: absolute;
      margin: auto;
      top: 0; bottom: 0; left: 0; right: 0;
      width: 6.250em; height: 6.250em;
      animation: rotate 2.4s linear infinite;
  
      .dot {
        position: absolute;
        margin: auto;
        width: 2.4em; height: 2.4em;
        border-radius: 100%;
        transition: all 1s ease;
    
        &.union { opacity: 0; top: 0; bottom: 0; left: 0; right: 0; background: #FFFFFF; animation: flash 2.4s linear infinite; }
        &:nth-child(2) { top: 0; bottom: 0; left: 0; background: #FF005d; animation: dotsY 2.4s linear infinite; }
        &:nth-child(3) { left: 0; right: 0; top: 0; background: #FF0033; animation: dotsX 2.4s linear infinite; }
        &:nth-child(4) { top: 0; bottom: 0; right: 0; background: #FF0088; animation: dotsY 2.4s linear infinite; }
        &:nth-child(5) { left: 0; right: 0; bottom: 0; background: #FF00b2; animation: dotsX 2.4s linear infinite; }
      }
    }
  
    div.stop-animation { animation: none !important; }
  }

  > figure:not([hidden]) + * {
    overflow: hidden;
  }
}