:has(> #patientsTable) {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 1rem;
    min-height: 8rem;
    border-radius: 1rem;
    background: var(--panel-bg-colour);
    box-shadow: 5px 5px 20px -15px color-mix(in srgb, black, var(--panel-bg-colour));
    gap: 1rem;

    #patientsHeader {
        display: inherit;
        justify-content: space-between;

        h3 {
            color: var(--trinary-colour);
        }
        
        div {
            display: inherit;
            align-items: center;
            gap: 1rem;
            font-size: 0.75rem;

            select {
                color: var(--trinary-colour);
                background: color-mix(in srgb, white, var(--primary-colour) 10%);
                outline: none;
                border: none;
                cursor: pointer;
                padding: 0.5rem;
                border-right: 0.5rem solid transparent;
                font-weight: 600;
                border-radius: 0.5rem;
        
                &:hover {
                    background: color-mix(in srgb, white, var(--primary-colour) 15%);
                }
            }
        }
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 1rem;
    
        tr {
            transition: 0.25s;

            &:has(td) {
                cursor: pointer;
                background: color-mix(in srgb,transparent,var(--primary-colour) 5%);
                --border-radius: 13px;
        
                &:hover {
                    background: color-mix(in srgb,white,var(--primary-colour) 10%);
                }
            }
            
            > th {
                padding: 0 1.5rem;
                text-align: left;
                text-wrap: nowrap;
            }
        
            > td {
                padding: 1.5rem;
                white-space: pre-line;
                position: relative;
                box-sizing: content-box;
                max-width: 12.5ch;
    
                &:first-child {
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);

                    picture {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
    
                        img {
                            width: 3rem;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
        
                &:last-child {
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }

                &:has(.menuIcon) {
                    padding: 2rem;
                }

                .menuIcon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    font-size: 1.25rem;
                    border-radius: 1rem;
                    background: color-mix(in srgb, white, var(--primary-colour) 10%);
                    transition: 0.25s;

                    &:hover {
                        background: color-mix(in srgb, white, var(--primary-colour) 5%);
                    }
                }
                
                .contextMenu {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    background-color: color-mix(in srgb, white, var(--primary-colour) 2.5%);
                    border: 1px solid #ccc;
                    border-radius: 1rem;
                    border-bottom-right-radius: 0;
                    padding: 1rem;
                    gap: 0.5rem;
                    z-index: 1;
                    bottom: 0;
                    right: 0;
                    translate: -4rem -4rem;
                    box-shadow: 10px 10px 25px -15px var(--accent-text-colour);
                
                    div {
                        text-wrap: nowrap;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        transition: 0.25s;

                        img {
                            width: 1.5rem;
                        }

                        &:hover {
                            color: var(--primary-colour);
                        }
                    }
                }
            }
        }
    }
}